<h1>Edit <%= @person.title %> <%= @person.first_name %> <%= @person.last_name %></h1>

<% if @person.errors %>
    <h2>This person could not be created</h2>
    <% @person.errors.full_messages.each do |error| %>
        <div class="errors">
          <%= error %>
        </div>
    <% end %>
<% end %>

<%= form_for @person do |f| %>

    <div class="form-row">
      <%= f.label :title %>
      <%= f.text_field :title, autofocus: true, placeholder: "i.e. Dr." %>
    </div>

    <div class="form-row">
      <%= f.label :first_name %>
      <%= f.text_field :first_name %>
    </div>

    <div class="form-row">
      <%= f.label :last_name %>
      <%= f.text_field :last_name %>
    </div>

    <div class="form-row">
      <%= f.submit :update %>
    </div>

<% end %>